.careersOverview {
    margin: 80px 0px;
}
.careersImgWrapper {
    width: 100%;
    height: 500px;
}
.careersImg {
    background-image: url('/img/bg-images/wanted.jpeg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.careersListBlock {
    padding-right: 24px;
}
.careersList p {
    padding-left: 50px;
    padding-top: 20px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
    border-radius: 12px;
    /* height: 100%; */
    margin-top: 10px;
}