.ClientOverview {
    margin: 120px 0px;
}
.clientTitle {
	text-align: center;
	margin-bottom: 80px;
}
.clientWrapper {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
    border-radius: 12px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.clientImgFrame {
    width: 80px;
    height: 80px;
}
.clientImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.clientMsg:before {
    content: "";
    -webkit-mask-image: url('/quotation.png');
    transition: all 0.3s linear;
    width: 50px;
    height: 36px;
    display: inline-block!important;
    background-color: #b3af8f;
    position: absolute;
    left: 60px;
    top: -15px;
    -webkit-mask-image: url('/quotation.png');
    z-index: 1;
    transform: scale(.5);
}
.showClientsList {
    overflow: hidden;
    margin-top: 100px;
}
.showClientsList ul {
    list-style-type: none;
}
.ClientBanner {
    background-image: url('/img/bg-images/clients.jpg');
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    height: 500px;
    z-index: -1;
}
.ClientBlock .blockWrapperTitle {
    margin-top: -30px;
    margin-left: -30px;
}
.ClientBlock .blockWrapperSubTitle {
    padding: 60px;
    width: 310px;
    max-height: 303px;
    position: absolute;
    bottom: -20px;
    right: -50px;
}

.ClientBlock .blockWrapperSubTitle::before {
    content: "";
    -webkit-mask-image: url('/quotation.png');
    transition: all 0.3s linear;
    width: 50px;
    height: 36px;
    display: inline-block!important;
    background-color: #b3af8f;
    position: absolute;
    left: 20px;
    top: 42px;
    -webkit-mask-image: url('/quotation.png');
    z-index: 1;
    transform: scale(.5);
}

