.ClientOverview {
    margin: 80px 0px 40px;
    background-color: #F7F7F7;
}
.clientTitle {
	text-align: center;
	margin-bottom: 80px;
}
.clientWrapper {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
    border-radius: 12px;
    /* margin-left: 70px; */
    /* margin-bottom: 30px; */
}

.clientWrapper_span {
    height: 20px;
    width: 20px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clientWrapper_span::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #413f4d;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.clientWrapper_span:hover::before{
    background-color: #4990e2;
}

.testimonial_1_Img {
	width: 10px;
	display: block;
	height: 291px;
	margin: 40px 10px 20px 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.clientImgFrame {
    width: 80px;
    height: 80px;
}
.clientImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.clientMsg:before {
    content: "";
    -webkit-mask-image: url('/quotation.png');
    transition: all 0.3s linear;
    width: 50px;
    height: 36px;
    display: inline-block!important;
    background-color: #b3af8f;
    position: absolute;
    left: 10px;
    top: -15px;
    -webkit-mask-image: url('/quotation.png');
    z-index: 1;
    transform: scale(.5);
}
.showClientsList {
    overflow: hidden;
    margin-top: 100px;
}
.showClientsList ul {
    list-style-type: none;
}
.ClientBanner {
    background-image: url('/img/bg-images/clients.jpg') !important;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    height: 500px;
    z-index: -1;
}
.ClientBlock .blockWrapperTitle {
    margin-top: -30px;
    margin-left: -30px;
}
.ClientBlock .blockWrapperSubTitle {
    padding: 60px;
    width: 310px;
    max-height: 303px;
    position: absolute;
    bottom: -20px;
    right: -50px;
}

.ClientBlock .blockWrapperSubTitle::before {
    content: "";
    -webkit-mask-image: url('/quotation.png');
    transition: all 0.3s linear;
    width: 50px;
    height: 36px;
    display: inline-block!important;
    background-color: #b3af8f;
    position: absolute;
    left: 20px;
    top: 42px;
    -webkit-mask-image: url('/quotation.png');
    z-index: 1;
    transform: scale(.5);
}
.customerSliderBlock {
    padding: 40px 80px 0px;
}
