.contactOverview {
    /* padding-top: 120px;
    padding-bottom: 40px; */
    color: #fff;
}
.contactWrapper {
    background-color: #496a81;
    padding-top: 120px;
    padding-bottom: 120px;
}
.contactOverview small {
    color: #fff;
}
.contactImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
}
