.developmentOverview {
    background-color: #F7F7F7;
}
.developmentWrapper {
    padding: 80px 0px;
}
.gdDevelopmentBlock {
    width: 29%;
    padding: 24px 24px 34px 24px;
    margin: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
}
.gdDevelopmentStat {
    font-size: 50px;
}
.cardImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.cardView {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
    border: none;
}
