.developmentOverview {
    background-color: #F7F7F7;
}
.developmentWrapper {
    padding: 120px 0px;
}
.gdDevelopmentBlock {
    width: 29%;
    padding: 24px 24px 34px 24px;
    margin: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
}
.gdDevelopmentStat {
    font-size: 50px;
}