.footerBlock {
    /* background: url(/img/bg-images/footer-bg22.png) no-repeat center; */
    background-color: #04091e;
    background-size: cover;
    color: #fff;
    /* height: 480px; */
    width: 100%;
}

.footerListWrapper {
    padding: 120px 0px 80px;
}
.footerContactWrapper {
    margin-top: 8rem;
}
.footerContactForm {
    margin-right: 7rem;
    padding: 22px;
    border-radius: 8px;
    margin-top: 2rem;
    width: 34rem;
}
.footerListWrapper ul li {
    margin: 12px 0px;
}
.footerListWrapper .listTItle {
    margin-bottom: 38px;
    font-weight: 800;
    font-size: 18px;
}