.footerBlock {
    /* background: url(/img/bg-images/footer-bg22.png) no-repeat center; */
    background-color: #063c77;
    background-size: cover;
    color: #fff;
    /* height: 480px; */
    width: 100%;
}

.footerListWrapper {
    padding: 150px 0px;
}
.footerContactWrapper {
    margin-top: 8rem;
}
.footerContactForm {
    margin-right: 7rem;
    padding: 22px;
    border-radius: 8px;
    margin-top: 2rem;
    width: 34rem;
}