html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

main {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.carousel-control-next,
.carousel-control-prev {
    display: none;
}
/* .carousel.slide {
  z-index: -1;
} */
.navbar-light .navbar-toggler {
  color: rgb(255 255 255);
  border-color: #3d7abc;
  background: #3d7abc;
}
.carousel-indicators {
  z-index: 99;
}

@media (max-width: 768px) {
  .navbar-nav{
    text-align: center;
    margin-top: 6rem;
    font-size: 22px;
  }
}
ul li {
  list-style-type: none;
}
small {
  font-size: 14px;
  color: #b3af8f;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
p {
  color: #4a4a4a;
}

h3.blockWrapper {
  background-color: #496a81;
  display: inline-block;
  color: #fff;
  padding: 8px 20px;
  font-size: 34px;
  font-weight: 800;
}
h1 {
  font-size: 60px;
  font-weight: 800;
}
h3 {
  font-size: 34px;
  font-weight: 800;
}
h2 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
 /* #001021
 #034748
 #1481ba
 #11b5e4
 #0caadc */

 /* 496a81
 66999b
 b3af8f
 ffc482 */