html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.carousel-control-next,
.carousel-control-prev {
    display: none;
}
/* .carousel.slide {
  z-index: -1;
} */
.navbar-light .navbar-toggler {
  color: rgb(255 255 255);
  border-color: #3d7abc;
  background: #3d7abc;
}
.carousel-indicators {
  z-index: 9;
}

@media (max-width: 768px) {
  .navbar-nav{
    text-align: center;
    margin-top: 6rem;
    font-size: 22px;
  }
}
ul li {
  list-style-type: none;
}
small {
  font-size: 14px;
  color: #b3af8f;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

 /* #001021
 #034748
 #1481ba
 #11b5e4
 #0caadc */

 /* 496a81
 66999b
 b3af8f
 ffc482 */