html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

main {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.navbar-light .navbar-toggler {
  color: rgb(255 255 255);
  border-color: #3d7abc;
  background: #3d7abc;
}
.carousel-indicators {
  z-index: 99;
}

@media (max-width: 768px) {
  .navbar-nav{
    text-align: center;
    margin-top: 6rem;
    font-size: 22px;
  }
}
ul li {
  list-style-type: none;
}
small {
  font-size: 14px;
  color: #b3af8f;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
p {
  color: #4a4a4a;
}

h3.blockWrapper {
  background-color: #496a81;
  display: inline-block;
  color: #fff;
  padding: 8px 20px;
  font-size: 30px;
  font-weight: 800;
}
h1 {
  font-size: 60px;
  font-weight: 800;
}
h2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
h3 {
  font-size: 34px;
  font-weight: 800;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #fff;
}
.navbar.navbar-expand-lg.navbar-light {
  z-index: 999;
}
/* button.btn-primary {
  color: #fff;
  background-color: #66999b;
  border-color: #496a81;
} */
 /* #001021
 #034748
 #1481ba
 #11b5e4
 #0caadc */

 /* 496a81
 66999b
 b3af8f
 ffc482 */

 /* Slider */


.slick-slide {
    margin: 0px 20px;
    /* transition: none; */
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}