.title {
	font-size: 3rem;
	font-weight: 800;
}

.gd-navbar .navbar-nav .nav-link {
	color: #fff;
	padding: 0px 4px;
}
.gd-carousel-img{
  height: 100vh;
  object-fit: cover;
  background: linear-gradient(
            rgba(0, 0, 0, 0.45), 
            rgba(0, 0, 0, 0.45)
            );
}
.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	margin-left: 6rem;
}
a.px-3.nav-link {
color: #fff;
} 
.navbar-brand img {
	width: 12rem;
	height: auto;
}
.gd-nav-link {
	color: #fff;
}