.infoOverview {
    /* margin-top: 20px;
    margin-bottom: 80px; */
    padding-top: 80px;
    padding-bottom: 80px;
}
.infoTitle {
    text-align: center;
	margin-bottom: 40px;
}
.infoContent {
    max-width: 950px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .95px;
    margin: 0 auto 25px;
    text-align: center;
}
.infoImageWrapper {
    background-color: gray;
    width: 100%;
    height: 100%;
}
.infoRow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.infoOverview ul li {
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 800;
    margin-right: calc(100% - 360px);
    cursor: pointer;
}
.infoOverview ul li:hover {
    background-color: #496a81;
    color: #fff;
}
.infoImgIcon:after {
    content: "";
    border: 1px dashed #252b33;
    width: 50%;
    position: absolute;
    top: 11%;
    right: 30px;
    transform: translateY(-50%);
}
.infoRow:last-child .infoImgIcon:after {
  content: '';
  border: unset;
}
/* .infoOverview .infoTitle {
    margin-left: ;
} */