.productOverview {
	color: #000;
	background-color: #F7F7F7;
	/* background-color: rgb(250 235 215 / 40%); */
	/* background: repeating-linear-gradient(45deg, #606dbc, #465298 50%); */
	/* background: url('/img/bg-images/Lazeez-watercolor-textures-4K-UDH-backgrounds.jpg'); */
	/* background-size: cover; */
	/* height: 100vh; */
}
.productWrapper {
	padding-top: 120px;
	padding-bottom: 110px;
}

.aproch_item {
	margin: 30px auto 0;
}
/* .productOverview:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #000;
	transform: skew(-30deg);
	transform-origin: top;
} */
/* .productOverviewTitle h2 {
    border-radius: 50px 50px 50px 50px;
    background-color: #034748;
    color: #fff;
    width: 32rem;
    padding: 18px;
	font-size: 18px;
	margin: auto;
} */
/* .productOverviewImage {
	width: 15rem;
	margin-bottom: 32px;
} */
/* .productWrapper {
	padding: 3rem 1rem;
} */
.productTitle {
	text-align: center;
	margin-bottom: 80px;
}
.productCol {
	margin-bottom: 30px;
	width: 100%;
}
.imgBlock {
	width: 100%;
    height: 340px;
    overflow: hidden;
}
/* .imgBlock {
	width: 50%;
    height: 340px;
    overflow: hidden;
} */
.productOverviewImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.productOverviewImage:hover + .productOverviewDetails,
.productOverviewDetails:hover {
	opacity: 1;
}
.productOverviewDetails {
	height: 100%;
	width: 100%;
	background-color: rgb(73 106 129 / 0.9);
	color: #fff;
	text-align: left;
	position: absolute;
	top: 0;
	cursor: pointer;
	opacity: 0;
	transition: .5s ease;
}
.productOverviewDetails ul li {
	margin-bottom: 18px;
}
.productOverviewDetails h4{
	padding: 18px;
}

.productOverviewBlock {
	background-image: url('/img/bg-images/map.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}
.productOverviewBlockWrapper {
	padding-top: 80px;
	padding-bottom: 80px;
}
.productImage {
	background-color: gray;
	width: 100%;
	height: 100%;
}
.productOverviewInfo {
	margin-right: calc(100% - 420px);
}
.productButton {
	background-color: #496a81;
}