.productOverview {
	color: #000;
	/* background: repeating-linear-gradient(45deg, #606dbc, #465298 50%); */
	/* background: url('/img/bg-images/Lazeez-watercolor-textures-4K-UDH-backgrounds.jpg'); */
	/* background-size: cover; */
	/* height: 100vh; */
}

/* .productOverview:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #000;
	transform: skew(-30deg);
	transform-origin: top;
} */
/* .productOverviewTitle h2 {
    border-radius: 50px 50px 50px 50px;
    background-color: #034748;
    color: #fff;
    width: 32rem;
    padding: 18px;
	font-size: 18px;
	margin: auto;
} */
/* .productOverviewImage {
	width: 15rem;
	margin-bottom: 32px;
} */
/* .productWrapper {
	padding: 3rem 1rem;
} */
.productTitle {
	text-align: center;
	margin: 80px 0px;
}
.productTitle h2 {
	font-size: 60px;
}
.productCol {
	margin-bottom: 30px;
	width: 100%;
}
.imgBlock {
	width: 50%;
    /* height: 340px; */
    overflow: hidden;
}
.productOverviewImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.productOverviewDetails {
	width: 50%;
	background-color: #496a81;
	color: #fff;
	text-align: left;
}
.productOverviewDetails ul li {
	margin-bottom: 18px;
}
.productOverviewDetails h4{
	padding: 18px;
}