.productOverview {
	color: white;
	background: repeating-linear-gradient(45deg, #606dbc, #465298 50%);
	height: 100vh;
}

.productOverview:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #000;
	transform: skew(-30deg);
	transform-origin: top;
}
.productOverviewTitle h2 {
    border-radius: 50px 50px 50px 50px;
    background-color: #f7f7f7;
    color: #000;
    width: fit-content;
    padding: 2rem;
    font-size: 18px;
}
.productOverviewImage {
    width: 22rem;
}