.serviceTitle {
	text-align: center;
	margin-bottom: 80px;
}
.serviceBlock {
    background-image: url('../public/img/building-bg.jpg');
    padding-top: 120px;
    padding-bottom: 80px;
}
.gdCard {
    margin-bottom: 4rem;
    height: 85%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 25px 0px;
}
.gdCard:hover {
    background: #1481BA;
    color: #fff;
    animation-name: fadeInLeft;
    border-top-left-radius: 3rem;
    transition: all 0.3s linear;
}
   
.gdServiceCardIcon img {
    width: 3.5rem;
    margin-right: 1rem;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }
    
    100% {
        opacity: 1;
        transform: none;
    }
} 