/* .gdContainer {
  max-width: 1200px;
  margin: auto;
} */
.imgTopWrapper {
	width: 290px;
  height: auto;
  margin-bottom: 90px;
}
.imgBottomWrapper {
  width: 225px;
  height: auto;
}

.imgBottomWrapper:after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url('/img/bg-images/curve.png');
    top: 10px;
    right: 5px;
    position: absolute;
    display: inline-block;
}

.imgRightWrapper {
  width: 215px;
	height: auto;
  position: absolute;
  top: 250px;
}
.imgRightWrapper img,
.imgBottomWrapper img,
.imgTopWrapper img {
  width: 100%;
  height: 100%;
}
