.technologyBlockOverview {
  background-image: url('/img/bg-images/bg-technologies.jpg');
  /* padding-top: 60px;
  padding-bottom: 40px; */
  background-size: cover;
  /* background-position: center; */
}
.technologyBlock {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #ffffff80;
}
.technologyOverview {
  width: 100%;
  height: 100%;
  padding: 80px 0px;
}

.langBanner {
  width: 190px;
  margin: 32px;
}

.langBanner img {
  width: 100%;
}

.technologyOverview h2 {
  margin-bottom: 40px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .langBanner {
    width: 150px;
  }
}

@media (min-width: 1400px) {}